body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.output {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  height: auto;
}

.App {
  height: 100vh;
  width: 100vw;
}

.input {
margin-top: 10px;
margin-left: 10px;
}